<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title%></title>
		<script src="/js/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<a href="javascript:void(0)" onclick="test();">点我</a>
		<script type="text/javascript">
			function test(){
				$.ajax({
					type:"post",
					url:"/HttpTest/GetUser",
					//url:"http://127.0.0.1:8086/HttpTest/GetUser",
					async:true,
					success:function(d){
						alert(d);
					},
					error:function(e){
						console.log(e);
						alert("error："+e.message);
						
					}
				});
			}
		</script>
	</body>
</html>
